body{
  background-color: #16a085;
  color: white;
}
h1,h2{
  text-align: center;
  font-family: sans-serif;
}
div{
  font-weight: bold;
}
.kanan{
  text-align: right;
}
.tengah{
  text-align: center;
  text-decoration: underline;
}
table{
  border: 2px;
  border-collapse: collapse;
  width: 35%;
}
tr,th,td{
  border: 2px solid white;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
}
.kuning{
  background-color: #c0392b;
}
.biru{
  background-color: #7f8c8d;
  color: white;
  font-family: sans-serif;
}

legend{
  text-align: center;
}

fieldset{
  width: 30%;
  border-color: white;
}
select{
  width: 50%;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
input[type=submit]{
  width: 30%;
  background-color: #2c3e50;
  border: none;
  color: white;
  font-weight: bold;
}
label{
  font-weight: bold;
}
